.Primary {
    font-size: inherit;
    font-weight: bold;
    color: rgba(53, 176, 178);
    background: none;
    border: none;
    outline: none;
    padding: .5em 1em;
}

.Primary:hover {
    cursor: pointer;
    color: rgb(34, 106, 107);
}

.Primary[disabled] {
    color: grey;
}

.Primary[disabled]:hover {
    cursor: default;
}

@media screen and (max-width: 500px) {
    .Primary {
        margin-top: 10px;
        width: 100%;
    }
}