.Map {
    height: 50vh;
    width: 100%;
}

.PolygonsFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 10px;
}

.ButtonContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}